<template name="weather">
    <div id="weather_info">
        <p id="weather_icon"> <img src="{{ weather_icon }}"> </p>
        <p id="outside_temp"> <p>Temp: {{ outside_temp }}°C</p> </p>
        <p id="weather_info"> <p>{{ weather_info }}</p> </p>
        <p id="wind_speed"> <p> Wind:{{ wind_speed }} m/s</p> </p>
    </div>

    <div id="clothes">
        <!-- <p id="clothes-icon"> <img src="{{ clothes-icon }}"> </p> -->
        <p id="clothes"> <p>{{ clothes_info }}</p> </p>
    </div>

</template>
